<!DOCTYPE html>
<html lang="en">
<head>
   <title>ThinkBell</title>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body> 
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
       <link rel="stylesheet" type="text/css" href="performCSS.css">
   <form action="/" method="post" id="login">
   <div class="limiter">
      <div class="container-login100">
         <div class="wrap-login100">
            <div class="login100-form validate-form p-l-55 p-r-55 p-t-178">

                  <span class="login100-form-title">
                     <img src="https://i.ibb.co/b6nPGtN/logo.png" alt="logo" border="0" width="" height="100px">
                  </span>

                  <!-- <div class="temp">
                     커스텀 / DAiSEE <input class="input100 m-b-30 m-l-25" type="text" name="calitime" placeholder="1 or 2" value="1">
                     <span class="focus-input100"></span>
                  </div>

                  <div class="custom-control custom-radio">
                     <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input" value="1">
                     <label class="custom-control-label" for="customRadio1">Sample 데이터 이용</label>
                   </div>

                   <div class="custom-control custom-radio">
                     <input type="radio" id="customRadio2" name="customRadio" class="custom-control-input" value="2">
                     <label class="custom-control-label" for="customRadio2">DAiSEE 데이터 이용</label>
                   </div> -->

                   <h1>
                      <span class='naughty active'>YouTube videos</span><br>or<br><span class='nice'>DAiSEE videos</span>
                  </h1>
                  <div class='slider'>
                     <div class="ball"></div>
                  </div>

                  <div class="p-t-13 p-b-30 m-l-loader">
                     <div id="modal_loading"class="loader"></div>
                  </div>
                  
                  <div class="container-login100-form-btn">
                     <div>
                        <input id="loginbutton" class="login100-form-btn" type="button" onclick="goData()" value="수업 입장">
                     </div>
                  </div>

                  <div class="container-login100-form-btn m-b-50">
                  </div>
            </div>
         </div>
      </div>
   </div>
</form>
<script>
   let isOneTwo = 1;
   let ball = document.querySelector('.ball');
   let naughtyText = document.querySelector('.naughty');
   let niceText = document.querySelector('.nice');
   let body = document.querySelector('body');
   ball.addEventListener('click', ()=> {
      ball.classList.toggle('right');
      naughtyText.classList.toggle('active')
      niceText.classList.toggle('active');
      body.classList.toggle('green')

      if (isOneTwo === 1) {
         isOneTwo = 2;
      }
      else {
         isOneTwo = 1;
      }
   })

   function goData() {
      let loginForm = document.getElementById('login');
      let loginVal = document.createElement('input');
      loginVal.setAttribute('type', 'hidden');
      loginVal.setAttribute('name', 'loginVal');
      loginVal.setAttribute('value', String(isOneTwo));

      loginForm.appendChild(loginVal)
      loginForm.submit();
   }

   let modal_loading=document.getElementById("modal_loading");
   let loginbtn=document.getElementById("loginbutton");
   loginbtn.addEventListener("click",(e)=>{
   modal_loading.style.display="block";
   })
</script>
</body>
</html>