<!DOCTYPE html>
<html lang="en">
<head>
   <title>ThinkBell</title>   
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <script type="text/javascript" src="performJS.js"></script>
</head>
<body> 
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
       <link rel="stylesheet" type="text/css" href="performCSS.css">
   <form action="/" method="post" id="login">
   <div class="limiter">
      <div class="container-login100">
         <div class="wrap-login100">
            <div class="login100-form validate-form p-l-55 p-r-55 p-t-178">

                  <span class="login100-form-title">
                     <img src="https://i.ibb.co/b6nPGtN/logo.png" alt="logo" border="0" width="" height="100px">
                  </span>

                   <h1>
                      <span class='naughty active'>YouTube videos</span><br>or<br><span class='nice'>DAiSEE videos</span>
                  </h1>
                  <div class='slider'>
                     <div class="ball"></div>
                  </div>

                  <div class="p-t-13 p-b-30 m-l-loader">
                     <div id="modal_loading"class="loader"></div>
                  </div>
                  
                  <div class="container-login100-form-btn">
                     <div>
                        <input id="loginbutton" class="login100-form-btn" type="button" onclick="goData()" value="수업 입장">
                     </div>
                  </div>

                  <div class="container-login100-form-btn m-b-50">
                  </div>
            </div>
         </div>
      </div>
   </div>
</form>
</body>
</html>